.about{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @include small-phone{
        height: 70vh;
    }
    @include phone-landscape{
        height: 70vh;
    }
    @include tablet{
        height: 40vh;
    }
    @include desktop{
        height: 50vh;
    }
    @include desktop-1440{
        height: 40vh;
    }
    &__container{
        height: 95%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include desktop{
            justify-content: space-between;
            align-items: center; 
            flex-direction: row;
            width: 70%;
        }
        
    }
}

.about__text{
    width: 100%;
    text-align: center;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: column;
    @include tablet{
        height: 50%;
    }
    @include desktop{
        flex-direction: column;
        width: 100%;
        text-align: center;
        height: 55%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
    }
    @include desktop-1440{
        height: 60%;
    }
    h2{
        width: 60%;
        color: $darkorange;
        position: relative;
        @include desktop{
            width: 30%;
        color: $darkorange;
        position: relative;
        }
        @include desktop-1440{
            font-size: 2.5rem;
        }
        &::after{
            content: '';
            position: absolute;
            width: 30%;
            height: .3rem;
            background: $lightblue;
            opacity: .2;
            left: 50% ;
            bottom: -40%;
            transform: translate(-50%,0%);
            @include desktop{
                content: '';
                position: absolute;
                width: 30%;
                height: .3rem;
                background: $lightblue;
                opacity: .2;
                left: 50% ;
                bottom: -50%;
                transform: translate(-50%,0%); 
            }
         }
       
    }
    p{
        width: 100%;
        margin: 0 auto;
        font-size: 1.2rem;
        @include tablet{
            width: 80%;
        }
        @include desktop{
            width: 80%;
        margin: 0 auto;
        text-align: justify;
        }
        @include desktop-1440{
            font-size: 1.5rem;
        }
    }

}