.offer{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    @include small-phone{
        height: 300vh;
    }
    @include phone-landscape{
        height: 300vh;
    }
    @include desktop{
        height: 100vh;
    }
    &__container{
        height: 95%;
        max-width: 900px;
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @include desktop{
            flex-direction: row;
        }
        
    }
}